@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Script_JQuery-2.1.1.cshtml")
@Html.Partial("~/Views/Shared/Script_JBox.cshtml")
@Html.Partial("~/Views/Shared/Script_MiniUI.cshtml")
<div style="float:left;width:50%;">
    <div>输入权限</div>
    <div class="mini-textbox"></div>
    <div>输入命令</div>
    <div class="mini-textarea" style="width:400px;height:400px;"></div>
</div>
<div style="width:50%;float:left;">
    <div>返回结果</div>
    <div style="width:100%;height:400px"></div>
</div>