
@{
    ViewBag.Title = "添加类型";
}
<link href="~/Scripts/Plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/Plugins/jQueryUI/jquery-ui.js"></script>
<div id="dialog_add_account_purpose_div" style="display:none;">
    <div>
        <div>用户名：</div>
        <div class="mini-textbox" id="account_purpose_uid_div" allowInput="false" width="200"></div>
    </div>
    <div>
        <div>名称：</div>
        <div class="mini-textbox" id="account_purpose_name_div" width="200"></div>
    </div>
    <div>
        <div>说明：</div>
        <div class="mini-textarea" id="account_purpose_descript_div" width="200"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $AddAccountPurposeDialog = {};
        $AddAccountPurposeDialog.divID = "dialog_add_account_purpose_div";
        $AddAccountPurposeDialog.$divID = "#" + $AddAccountPurposeDialog.divID;
        $AddAccountPurposeDialog.div = $($AddAccountPurposeDialog.$divID);
        $AddAccountPurposeDialog.userID = "null";
        /*打开窗口*/
        $AddAccountPurposeDialog.ShowAddAccountPurposeDialog = function () {
            /*open*/
            $AddAccountPurposeDialog.div.dialog({
                autoOpen: false,
                closeText: "关闭",
                width: 240,
                height: 270,
                resizable: false,
                modal: true,
                title: "添加类型",
                open: function () {
                },
                focus: function (ev, data) {
                },
                buttons: [{
                    text: "保存",
                    icons: {
                        primary: "dialog-button-icon-save"
                    },
                    click: function () {
                        /*保存代码*/
                        subAccountPurposeItem();
                    }
                },
                {
                    text: "退出",
                    icons: {
                        primary: "dialog-button-icon-cancel"
                    },
                    click: function () {
                        $AddAccountPurposeDialog.div.dialog("close");
                    }
                }],
                close: function (event, ui) {
                }
            })
            .dialog("open");
            /*init user name textbox*/
            $.ajax({
                type: 'post',
                url: '/UserManagement/GetUserInfo',
                data: {},
                dataType: 'json',
                success: function (jsonData) {
                    if (jsonData["result"] == "@Common.CommonEnum.AjaxResult.ERROR") {
                        $ShowMessageDialog.ShowTipsRightTop({ "message": "查询用户信息失败！" });
                        return;
                    }
                    mini.get("account_purpose_uid_div").setValue(jsonData["f_uid"]);
                    $AddAccountPurposeDialog.userID = jsonData["f_id"];
                },
                error: function () {
                    $ShowMessageDialog.ShowTipsRightTop({ "message": "查询用户信息失败！" });
                }
            });

        }
    });
    function subAccountPurposeItem() {
        var name = mini.get("account_purpose_name_div").getValue();
        var descript = mini.get("account_purpose_descript_div").getValue();
        var uid = mini.get("account_purpose_uid_div").getValue();
        var user_id = $AddAccountPurposeDialog.userID;
        if (name == "") {
            $ShowMessageDialog.ShowTipsRightTop({ "message": "名称不能为空！" });
            mini.get("account_purpose_name_div").focus();
            return;
        }

        mini.get("account_purpose_name_div").setValue();
        mini.get("account_purpose_descript_div").setValue();
        mini.get("account_purpose_uid_div").setValue();

        $.ajax({
            type: 'post',
            url: '/RunningAccount/InsertAccountPurpose',
            data: { 'name': name, 'descript': descript,'uid':uid,'userID':user_id },
            dataType: 'json',
            success: function (data) {
                if (data["result"] == "@Common.CommonEnum.AjaxResult.SUCCESS") {
                    $ShowMessageDialog.ShowTipsRightTop({ "message": "添加成功！" });
                    $("#dialog_add_account_purpose_div").dialog("close");
                    $AddAccountPurposeDialog.div.dialog("close");
                    return;
                }
                $ShowMessageDialog.ShowTipsRightTop({ "message": "提交失败！" });
                
                        $AddAccountPurposeDialog.div.dialog("close");
            },
            error: function () {
                $ShowMessageDialog.ShowTipsRightTop({ "message": "提交失败！" });
            }
        });
    }
</script>
