<script src="~/Scripts/Plugins/ECharts/echarts.js"></script>

<link href="~/Scripts/Plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/Plugins/jQueryUI/jquery-ui.js"></script>
<div id="dialog_show_account_chart_div" style="display:none;">
    <div style="width:30%;height:100%;float:left;background-color:#eee;">
        <div style="margin-top:30px;">
            <span @*class="label label-primary"*@ style="font-size:16px;">时间：</span><br />
            <div id="btn_time_group_div" class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary" group="timebutton" timevalue="1">最近一周</button>
                <button type="button" class="btn btn-success" group="timebutton" timevalue="2">最近一月</button>
                <button type="button" class="btn btn-primary" group="timebutton" timevalue="3">最近一年</button>
            </div>
        </div>
        <br /><br />
        <div>
            <span @*class="label label-primary"*@ style="font-size:16px;">类型：</span><br />
            <div id="btn_type_group_div" class="btn-group btn-group-sm">
                <button type="button" class="btn btn-success" group="typebutton" typevalue="1">柱状图</button>
                <button type="button" class="btn btn-primary" group="typebutton" typevalue="2">扇形图</button>
                <button type="button" class="btn btn-primary" group="typebutton" typevalue="3">瀑布图</button>
            </div>

        </div>
    </div>
    <div style="width:1px;height:100%;background-color:#000;float:left;"></div>
    <div style="width:69%;float:left;background-color:#fff;">
        <div id="dialog_chart_div" width="500" height="500 " style="width:500px;height:500px;margin-left:10%;margin-top:10px;">

        </div>
        <div id="dialog_sector_chart_div" width="500" height="500 " style="width:500px;height:500px;margin-left:10%;margin-top:10px;">

        </div>
        <div id="dialog_waterfull_chart_div" width="500" height="500 " style="width:500px;height:500px;margin-left:10%;margin-top:10px;">

        </div>
    </div>
</div>


<script type="text/javascript">

    $(function () {
        /*初始化*/
        $AccountChartsDialog = {};
        $AccountChartsDialog.options = {
            'timevalue': '2',
            'timetext': '最近一月',
            'typevalue': '1',
            'typetext': '柱状图'
        };
        mini.parse();
        showStatisticsData();


        /*打开窗口*/
        $AccountChartsDialog.showAccountChartsDialog = function () {
            $("#dialog_show_account_chart_div").dialog({
                autoOpen: false,
                closeText: "关闭",
                width: 900,
                height: 600,
                resizable: false,
                modal: true,
                title: "查看账户统计信息",
                open: function () {
                },
                focus: function (ev, data) {
                },
                buttons: [{
                    text: "退出",
                    icons: {
                        primary: "dialog-button-icon-cancel"
                    },
                    click: function () {
                        $("#dialog_show_account_chart_div").dialog("close");
                    }
                }],
                close: function (event, ui) {
                }
            })
            .dialog("open");
        }

        /*时间按钮组点击事件*/
        $("button[group='timebutton']").click(function () {
            var broButtons = $(this).parent().children();
            for (var i = 0; i < broButtons.length; i++) {
                var brobutton = broButtons[i];
                $(brobutton).addClass("btn-primary").removeClass("btn-success");
            }
            $(this).addClass("btn-success").removeClass("btn-primary");
            $AccountChartsDialog.options["timevalue"] = $(this).attr("timevalue");
            $AccountChartsDialog.options["timetext"] = $(this).html();
            showStatisticsData();
        });

        /*类型按钮组点击事件*/
        $("button[group='typebutton']").click(function () {
            var broButtons = $(this).parent().children();
            for (var i = 0; i < broButtons.length; i++) {
                var brobutton = broButtons[i];
                $(brobutton).addClass("btn-primary").removeClass("btn-success");
            }
            $(this).addClass("btn-success").removeClass("btn-primary");
            $AccountChartsDialog.options["typevalue"] = $(this).attr("typevalue");
            $AccountChartsDialog.options["typetext"] = $(this).html();
            showStatisticsData();
        });


    });

    var showStatisticsData = function () {
        var typevalue = $AccountChartsDialog.options["typevalue"];
        var typetext = $AccountChartsDialog.options["typetext"];
        var timevalue = $AccountChartsDialog.options["timevalue"];
        var timetext = $AccountChartsDialog.options["timetext"];
        var method, count;
        switch (timevalue) {
            case "1":
                method = 'day';
                count = 7;
                break;
            case "2":
                method = 'day';
                count = 30;
                break;
            case "3":
                method = 'month';
                count = 12;
                break;

            default: return;
        }
        var ajaxData = {
            'method': method,
            'count': count
        };
        switch (typevalue) {
            case "1"://柱形图
                $("#dialog_sector_chart_div").hide();
                $("#dialog_waterfull_chart_div").hide();
                $("#dialog_chart_div").show();
                $.ajax({
                    type: 'post',
                    url: '/RunningAccount/GetAllRunningAccountDataByCondition',
                    data: ajaxData,
                    dataType: 'json',
                    success: function (jsonData) {
                        if (jsonData["result"] == "@Common.CommonEnum.AjaxResult.ERROR") {
                            $ShowMessageDialog.ShowTipsRightTop({ "message": "查询" + timevalue + typevalue + "失败！" });
                            return;
                        }
                        var options = {
                            title: {
                                text: timetext,
                                subtext: typetext
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: ["收入", '支出']
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    dataView: { show: true, readOnly: false },
                                    magicType: { show: true, type: ['line', 'bar'] },
                                    restore: { show: true },
                                    saveAsImage: { show: true }
                                }
                            },
                            calculable: true,
                            xAxis: [
                                {
                                    type: 'category',
                                    data: jsonData["inTextList"]
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                    {
                                        name: '收入',
                                        type: 'bar',
                                        data: jsonData["inDataList"],
                                        markPoint: {
                                            data: [
                                                { type: 'max', name: '最大值' },
                                                { type: 'min', name: '最小值' }
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                { type: 'average', name: '平均值' }
                                            ]
                                        }
                                    },
                                    {
                                        name: '支出',
                                        type: 'bar',
                                        data: jsonData["outDataList"],
                                        markPoint: {
                                            data: [
                                                { type: 'max', name: '最大值' },
                                                { type: 'min', name: '最小值' }
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                { type: 'average', name: '平均值' }
                                            ]
                                        }
                                    }
                            ]
                        };

                        var myChart = echarts.init(document.getElementById("dialog_chart_div"));
                        myChart.setOption(options);
                    },
                    error: function () {
                        $ShowMessageDialog.ShowTipsRightTop({ "message": "查询" + timetext + typetext + "失败！" });
                        return;
                    }
                });
                break;
            case "2"://扇形图
                $.ajax();
                break;
            case "3"://阶梯瀑布图
                $("#dialog_sector_chart_div").hide();
                $("#dialog_waterfull_chart_div").show();
                $("#dialog_chart_div").hide();
                $.ajax({
                    type: 'post',
                    url: '/RunningAccount/GetAllRunningAccountDataByCondition',
                    data: ajaxData,
                    dataType: 'json',
                    success: function (jsonData) {
                        if (jsonData["result"] == "@Common.CommonEnum.AjaxResult.ERROR") {
                            $ShowMessageDialog.ShowTipsRightTop({ "message": "查询" + timevalue + typevalue + "失败！" });
                            return;
                        }
                        var fullData = [], inDataList = jsonData['inDataList'], outDataList = jsonData['outDataList'], sum = 0;

                        for (var i = 0; i < jsonData['inDataList'].length; i++) {
                            inDataList[i] = inDataList[i] == "-1" ? "-" : parseFloat(inDataList[i]);
                            outDataList[i] = outDataList[i] == "-1" ? "-" : parseFloat(outDataList[i]);
                            if (inDataList[i] != "-") {
                                sum += inDataList[i];
                            } else if (outDataList[i] != "-") {
                                sum -= outDataList[i];
                            }
                            if (inDataList[i] != "-" && outDataList != "-") {
                                inDataList[i] = inDataList[i] - outDataList[i] > 0 ? inDataList[i] - outDataList[i] : "-";
                                outDataList[i] = outDataList[i] - inDataList[i] >= 0 ? outDataList[i] - inDataList[i] : "-";
                            }
                            fullData[fullData.length] = sum;
                        }
                        var options = {
                            title: {
                                text: timetext,
                                subtext: typetext,
                                sublink: '#?name=副标题超链接'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }//,
                                //formatter: function (params) {
                                //    var tar;
                                //    if (params[1].value != '-') {
                                //        tar = params[1];
                                //    }
                                //    else {
                                //        tar = params[0];
                                //    }
                                //    return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                                //}
                            },
                            legend: {
                                data: ['支出', '收入']
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: {
                                type: 'category',
                                splitLine: { show: false },
                                data: jsonData["inTextList"]
                                //function () {
                                //    var list = [];
                                //    for (var i = 1; i <= 11; i++) {
                                //        list.push('11月' + i + '日');
                                //    }
                                //    return list;
                                //}()
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [
                                {
                                    name: '余额',
                                    type: 'bar',
                                    stack: '总量',
                                    itemStyle: {
                                        normal: {
                                            barBorderColor: 'rgba(0,0,0,0)',
                                            color: 'rgba(0,0,0,0)'
                                        },
                                        emphasis: {
                                            barBorderColor: 'rgba(0,0,0,0)',
                                            color: 'rgba(0,0,0,0)'
                                        }
                                    },
                                    data: fullData
                                },
                                {
                                    name: '收入',
                                    type: 'bar',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    data: inDataList
                                },
                                {
                                    name: '支出',
                                    type: 'bar',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'bottom'
                                        }
                                    },
                                    data: outDataList
                                }
                            ]
                        };
                        var myCharts = echarts.init(document.getElementById("dialog_waterfull_chart_div"));
                        myCharts.setOption(options);
                    },
                    error: function () {

                    }
                });
                break;

        }



    }

</script>
