@{
    ViewBag.Title = "我的流水账";
}
<script src="~/Scripts/jQuery/jquery-3.2.1.min.js"></script>
@Html.Partial("~/Views/Shared/Script_MiniUI.cshtml")
@Html.Partial("~/Views/Shared/Script_JBox.cshtml")
<script type="text/javascript">
    $(function () {

    });
</script>
<div>
    <div class="mini-toolbar">
        <div class="mini-button">刷新</div>
    </div>
    <div id="account_datagrid_div" class="mini-datagrid">

    </div>

</div>