
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link href="~/Scripts/Plugins/MiniUI/themes/default/miniui.css" rel="stylesheet" />
    <link href="~/Scripts/Plugins/Bootstrap/css/bootstrap.css" rel="stylesheet" />

    @Html.Partial("~/Views/Shared/Script_JQuery-2.1.1.cshtml")
    <script src="~/Scripts/Plugins/MiniUI/miniui.js"></script>
    <script src="~/Scripts/Plugins/Bootstrap/js/bootstrap.min.js"></script>
    <!--jbox-->
    @Html.Partial("~/Views/Shared/Script_JBox.cshtml")
    @Html.Partial("~/Views/Shared/Script_MiniUI.cshtml")
    <script type="text/javascript">
        $(function () {
            mini.parse();
            new jBox('Confirm', {
                content: 'Do you really want to do this?',
                cancelButton: 'Nope',
                confirmButton: 'Sure do!'
            });
        });

        function validateUser() {
            var uid = mini.get("uid_div").getValue();
            var pwd = mini.get("pwd_div").getValue();
            if (uid == "") {
                $ShowTipsDialog({ 'color': 'red', 'message': '用户名不能为空！' });
                return;
            }
            if (pwd == "") {
                $ShowTipsDialog({ 'color': 'red', 'message': '密码不能为空！' });
                return;
            }
            $.ajax({
                type: 'post',
                url: '/Login/Validate ',
                data: { 'uid': uid, 'pwd': pwd },
                dataType: 'json',
                success: function (data) {
                    if (data["result"] == "@Common.CommonEnum.AjaxResult.ERROR") {
                        $ShowTipsDialog({ 'color': 'red', 'message': '用户名或密码错误！请重新输入' });
                        return;
                    }
                    window.location.href = "/MainPage/Index";
                },
                error: function () {
                    $ShowTipsDialog({ 'color': 'red', 'message': '登录失败！' });
                }
            });
        }

        function fun() {
            $ShowMessageDialog.ShowTipsRightTop({ 'message': 'this is yes callback function.' })

        }
    </script>
</head>
<body>
    <div style="width:300px;height:180px;margin:20% 0 0 50%;background-color:#4d6082">
        <div style="margin:20px 0 0 30px; ">
            <br /><br />
            用户名： <div id="uid_div" class="mini-textbox"></div><br /><br />
            密　码： <div id="pwd_div" class="mini-password"></div><br /><br />
            <div id="login_div" class="mini-button" onclick="validateUser()">登录</div>
            <a href="/Login/RegisterPage" style="margin-left:50px;">注册</a>


            @*<input type="button" value="TopLeft" onclick="$ShowMessageDialog.ShowTipsRightTop({'message': 'test message' })" />
                <input type="button" value="BottomLeft" onclick="$ShowMessageDialog.ShowTipsLeftBottom({'message': 'test message' })" />
                <input type="button" value="BottomRight" onclick="$ShowMessageDialog.ShowTipsRightBottom({'message': 'hello this is a message of right-bottom','title':'Message Title' })" />
                <input type="button" value="ConfirmButton" onclick="$ShowMessageDialog.ShowConfirmMessage({ 'message': '您确认删除吗？', 'title': '确认删除？', 'confirm': function (d) { console.log(d['message']);} })" />
                <input type="button" id="info_button" value="InfoButton" onclick="$ShowMessageDialog.ShowInfoMessage({ 'message': 'hello this is a message of right-bottom', 'title': 'Message Title' ,'id':'info_button'})" />
                <div class="demo-button demo-button-click noselect" data-confirm onclick="new jBox('Notice', {content: 'Yay! You clicked the confirm button', color: 'green', attributes: {y: 'bottom'}})">Click me</div>

                <input type="button" value="showconfirm" data-confirm onclick="fun()" />
                <div id="Modal-1" class="demo-button demo-button-notice demo-button-click noselect">Click me</div>*@
        </div>
    </div>
</body>
</html>
