
@{
    ViewBag.Title = "Page_Show_Note";
}
<script src="~/Scripts/jQuery/jquery-3.2.1.min.js"></script>
<link href="~/Scripts/Plugins/kindeditor/themes/default/default.css" rel="stylesheet" />
<link href="~/Scripts/Plugins/kindeditor/plugins/code/prettify.css" rel="stylesheet" />
<script src="~/Scripts/Plugins/kindeditor/lang/zh-CN.js"></script>
<script src="~/Scripts/Plugins/kindeditor/kindeditor-all-min.js"></script>
<script src="~/Scripts/Plugins/kindeditor/plugins/code/prettify.js"></script>
<script src="~/Scripts/Common/CommonFunction.js"></script>

<script type="text/javascript">
    $(function () {
        refreshTable();
        $("#common_submit").click(function () {
            $HtmlEditor.sync();
            var content = $("#common_input_text_area").val();
            if (content == "") {
                alert("请输入留言内容！");
                return;
            }
            content = encodeURIComponent(content);
            var data = {  "content": content }
            $.ajax({
                type: 'post',
                url: '/Note/SubmitNote',
                data: {  "content": content },
                dataType: 'json',
                success: function (data) {
                    refreshTable();
                },
                error: function () {
                    refreshTable();
                    alert("submit error!");
                }
            });
        });
    });
    function refreshTable() {
        $.ajax({
            type: 'post',
            url: '/Note/SearchNoteList',
            data: {},
            dataType: 'json',
            success: function (data) {
                data = $CommonFunction.decodeObject(data);
                if(data["result"]=="@Common.CommonEnum.AjaxResult.ERROR"){
                    alert("查询失败~");
                    return;
                }
                //console.log(JSON.stringify(data));
                data = data["data"];
                $("#main_containor_div").html("");
                var containt = $("#main_containor_div");
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    containt.append("<br />");
                    containt.append("<div style=\"color:red;float:left;\">" + d["f_writer_name"] + ":</div><br><div>  <pre class=\"best-text mb-10\">" + d["f_content"] +
                     "</pre></div><div style=\"color:blue;float:right;\"> " + d["f_common_date"] + "</div><a style=\"float:right;margin-right:10px;\" onclick=\"deleteCommon('" + d["f_message_id"] + "')\">删除</a>");
                }

            },
            error: function () {
                alert("search error!");
            }
        });

    }

    function deleteCommon(f_id) {
        console.log("delete id:"+f_id);
        $.ajax({
            type: 'post',
            url: '/Note/DeleteSingleNote',
            data: { 'f_id': f_id },
            dataType: 'json',
            success: function (data) {
                data = $CommonFunction.decodeObject(data);
                if (data["result"] == "@Common.CommonEnum.AjaxResult.ERROR") {
                    if (data["state"]&&data["state"] == '1') {
                        alert("对不起，您无权删除！");
                    }
                } else {
                    refreshTable();
                }
            },
            error: function () {
                alert("删除失败");
            }
        });
    }
</script>
<script type="text/javascript">

    $(function () {
        $HtmlEditor = KindEditor.create('textarea[name="content"]');
    });
    google_ad_client = "ca-pub-7116729301372758";
    /* 更多演示（728x90） */
    google_ad_slot = "5052271949";
    google_ad_width = 500;
    google_ad_height = 160;

</script>
<div id="text_area_div">
    <br />
    <div id="input_id_div">
        <br />
        请输入内容：
        @*html编辑框*@
        <form>
            <textarea id="common_input_text_area" name="content" style="width:800px;height:200px;"></textarea>
        </form>

        <input type="button" id="common_submit" value="提交" />
        <a onclick="refreshTable()">刷新</a>

    </div>

    <div id="main_containor_div">
        123
    </div>

</div>
<style type="text/css">
    #main_containor_div {
        width: 800px;
    }
</style>