
@{
    ViewBag.Title = "主页";
}



@Html.Partial("~/Views/Shared/Script_JBox.cshtml")


<script type="text/javascript">
    $(function () {
        $('#Notice-2').click(function () {
            new jBox('Notice', {
                animation: 'flip',
                color: getColor(),
                content: '您无权删除！'
            });

        });
    });


    var colors = ['red', 'green', 'blue', 'yellow'], index = 0;
    var getColor = function () {
        (index >= colors.length) && (index = 0);
        return colors[index++];
    };

</script>

<div class="container">
    <div id="Notice-2" class="target-notice">Click me</div>
</div>

