
@{
    ViewBag.Title = "Page_Main";
}
<div class="container">
    <div class="jumbotron">
        <h1>欢迎登陆！</h1>
        <p>荆轲刺秦王！</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button">
                学习更多
            </a>
        </p>
    </div>
</div>

