
@*@{
    ViewBag.Title = "主页";
}*@
@{
    Layout = null;
}



@Html.Partial("~/Views/Shared/Script_JBox.cshtml")


<script type="text/javascript">
   


   

</script>

<div class="container">
        <div class="jumbotron" width="800">
            <h1>欢迎登陆！</h1>
            <p>荆轲刺秦王。</p>            
        </div>
    </div>


