
@{
    ViewBag.Title = "主页";
}



@Html.Partial("~/Views/Shared/Script_JBox.cshtml")


<script type="text/javascript">
   


   

</script>

<div class="container">
   <div style="font-size:50px;color:red;">这里还什么都没有，点击其他菜单查看吧！</div>
</div>

